
.login-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
  .login-form-input {
    width: 100%;
  }
  .out {
    width: 280px;
    margin: 20px;
  }