.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}
.ant-layout-header{ 
  height: 30px;
  padding: 0;
  margin: 0;
  line-height: 30px;
 }
 html, #root {
  height: 100%
}